# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.tar
uploads/*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# typescript
next-env.d.ts
.venv

.venv/
docs/ref-transition/
public/brand/logo-full.src.png
*.log

.env
.env.local
.env.*.local
.env.production
.env.test
!.env.example
!.env.development
!.env.test.example
!.env.production.example

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
